.imagenfooter{
    width:20%;
    height: 50%;
    position: relative;
    top: 0;
    

}



li{
  list-style-type: none;
  font-size:15px;
}


h5{
  cursor: pointer;
}

.nav-item i {
    margin-right: 8px; /* Espacio entre el icono y el texto */
    vertical-align: middle; /* Alinea verticalmente los iconos con el texto */
  }
  
  .nav-item a {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer !important; /* Asegura que el texto también esté alineado con los iconos */
  }
  

  @media (max-width: 1900px) {
    .img-responsive {
      width: 100%;
      
     
    }

    
  }

@media (max-width: 1200px) {
  .img-responsive {
    width: 100%;
   
  }
}

@media (max-width: 992px) {
  .img-responsive {
    width: 100%;

  }
  .general{
    font-size: 15px;
    
      }
  
}

@media (max-width: 768px) {
  .img-responsive {
    width: 100%;

  }
}

@media (max-width: 576px) {
  .general{
font-size: 15px;

  }
  
}

