<div class="container general">
  <footer class="py-2 my-2">
    <div class="row align-items-center">
      <div class="col-md mb-3">
        <div class="d-flex align-items-center justify-content-center text-center">
          <a href="/" class="d-flex flex-column align-items-center link-dark text-decoration-none">
            <img class="imagenfooter mb-2" src="../../assets/logo-sinfondo.png" alt="Logo">
            <p class="text-muted m-0">&copy;2024 Viajes a lo desconocido, Inc. All rights reserved.</p>
          </a>
        </div>
      </div>
      <div class="col-md mb-3">
        <div class="row">
          <div class="col-md-6 mb-3">
            <h5 class="mb-3" data-bs-toggle="collapse" data-bs-target="#info-list" aria-expanded="false" aria-controls="info-list">
              <i class="bi bi-airplane me-2"></i>
              Más información
            </h5>
            <ul class="nav flex-column collapse interior" id="info-list">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sobre nosotros</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contáctanos</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Tu perfil</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Politica de privacidad</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Aviso legal</a></li>
            </ul>
          </div>
          <div class="col-md-6 mb-3">
            <h5 class="mb-3" data-bs-toggle="collapse" data-bs-target="#social-list" aria-expanded="false" aria-controls="social-list">
              <i class="bi bi-airplane me-2"></i>
              Redes Sociales
            </h5>
            <ul class="nav flex-column collapse interior" id="social-list">
              <li class="nav-item mb-2"><i class="bi bi-instagram"></i><a href="#" class="nav-link p-0 text-muted">&#64;viajesalodesconocido</a></li>
              <li class="nav-item mb-2"><i class="bi bi-twitter-x"></i><a href="#" class="nav-link p-0 text-muted">&#64;viajesalodesconocido</a></li>
              <li class="nav-item mb-2"><i class="bi bi-linkedin"></i><a href="#" class="nav-link p-0 text-muted">viajesalodesconocido</a></li>
              <li class="nav-item mb-2"><i class="bi bi-youtube"></i><a href="#" class="nav-link p-0 text-muted">/viajesalodesconocido</a></li>
              <li class="nav-item mb-2"><i class="bi bi-threads"></i><a href="#" class="nav-link p-0 text-muted">&#64;viajesalodesconocido</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
