<div class="container">
    <footer class="row row-cols-4 row-cols-sm-4 row-cols-md-4 py-2 my-2">
        <div class="col mb-3 d-flex align-items-center justify-content-center text-center">
            <a href="/" class="d-flex flex-column align-items-center link-dark text-decoration-none">
                <img class="imagenfooter mb-2" src="../../assets/logo-sinfondo.png" alt="Logo">
                <p class="text-muted m-0">&copy;2024 Viajes a lo desconocido, Inc. All rights reserved.</p>
            </a>
        </div>
        
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
  
      
    </footer>
  </div>
  
  <div class="b-example-divider"></div>
  