<div class="row">
    <form [formGroup]="formulario" class="mb-5 ">
        <div formArrayName="arrayForm" class="formarray">
            @for (datos of datos().controls; track datos;let i = $index) {
            <div class="col-12  col-xl-3 d-flex flex-column  align-items-center justify-content-center ">
                <div class="card" [formGroupName]="i">

                    <div class="top-div">
                        @if (i === 0) {
                        <h2>Anfitrion</h2>
                    }@else {
                        <h2>Invitado {{i}}</h2>
                        <i (click)="delete(i)" class="bi bi-x-square"></i>
                    }
           
                    </div>
                    <div class="details">
                        <div class="noMaletas">
                            <div class="input-text">
                                <input formControlName="nombre" type="text" required="required">
                                <span>Nombre y apellidos</span>
                            </div>
                            <div class="input-text">
                                <input formControlName="dni" type="text" required="required">
                                <span>DNI / NIE</span>
                            </div>
                            <div class="input-text">
                                <input formControlName="comunidad" type="text" required="required">
                                <span>Comunidad</span>
                            </div>
                            <div class="input-text">
                                <input formControlName="ciudad" type="Text" required="required">
                                <span>Ciudad</span>
                            </div>
                            <div class="input-text">
                                <input formControlName="direccion" type="text" required="required">
                                <span>direccion</span>
                            </div>
                            <div class="input-text">
                                <input formControlName="codigo_postal" type="text" required="required">
                                <span>Codigo Postal</span>
                            </div>
                        </div>
                        <div class="input-text imaletas">
                            <input type="number" formControlName="maletas" [min]="0" [max]="4" [defaultValue]="0"  required="required">
                            <span>Maletas</span>
                        </div>

                    </div>

                </div>
            </div>
            }
            @if(datos().controls.length < 4){ <div
                class="col-12  col-xl-3 flex-column  align-items-center justify-content-center my-auto">
                <button (click)="addDatos()" class="botonmas"><i 
                        class="bi bi-plus-square "></i></button>

        </div>
        }
</div>


</form>

</div>