<app-navbar></app-navbar>
<div class="container mt-1">
    <h1 class="text-center">Empezamos el viaje</h1>
    <p class="text-center">¿A qué continente te gustaría ir?</p>
    <form [formGroup]="formulario">
    <div class="d-flex flex-column align-items-center">
        <label class="h4" for="ratings">Selecciona el aeropuerto de salida</label>
        <select class="w-50 form-control" formControlName="aeSalida" name="ratings" id="ratings">
            <option value="MAD">Madrid</option>
            <option value="BCN">Barcelona</option>
        </select>
    </div>
    
    <div class="row">
    
    @for (continent of continents; track $index) {
        <div class="col-lg-4 col-md-4 col-6 col-sm-6 " style=" padding: 2%; ">
            @if (continents[$index].colorear == false) {
            <div (click)="cartaseleccionada($index)" class="card">
                <img [src]="continent.imageUrl" class="card-img-top" [alt]="continent.name">
               
                <div  class="card-body">
                    <h5 class="card-title">{{ continent.name }}</h5>
                    <p class="card-text">{{ continent.description }}</p>
                </div>

            </div>
            }@else if(continents[$index].colorear == true) {
                <div (click)="cartaseleccionadat($index)" style="background-color:#CAE7EB ;" class="card">
                    <img [src]="continent.imageUrl" class="card-img-top" [alt]="continent.name">
                   
                    <div  class="card-body">
                        <h5 class="card-title">{{ continent.name }}</h5>
                        <p class="card-text">{{ continent.description }}</p>
                    </div>
    
                </div>

            }
            </div>
        
    }
    <button [disabled]="formulario.invalid" (click)="seleccionAleatior()" class=" btn btn-dark">Continuar</button> 
       
    </div>
</form> 
  </div>
  
  <app-footer></app-footer>