@media (max-width: 1900px) {

}

@media (max-width: 1200px) {


}

@media (max-width: 992px) {



}

@media (max-width: 768px) {



}

@media (max-width: 576px) {



}
.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

.card{
  padding: 2%;
}
