.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    width: 100%;
  }
  
  .col-auto {
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0.5rem;
  }
  
  

  .mimiagen{
    width: auto; /* Set the desired width of the frame */
    height: 200px; /* Set the desired height of the frame */
   object-fit:cover;


  }

  