<app-navbar></app-navbar>
<div class="row">
    <div style="text-align: center;" class="col-6">

        <img class="w-50" src="https://thumbs.dreamstime.com/b/l%C3%ADnea-icono-del-negro-avatar-perfil-de-usuario-121102131.jpg" alt="imagenusuario">
    </div>

    <div class="col-6">

        <form>

            <label>{{email}}</label>
            <input>

            <label>{{dni}}</label>
            <input>
            <button (click)="cerrarsesion()">Cerrar sesion</button>
        </form>

    </div>
</div>
<app-footer></app-footer>