<section class="background-radial-gradient overflow-hidden">
  <div class="background-blur"></div>
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Bienvenid&#64; de vuelta a  <br />
          <span style="color: hsl(218, 100%, 50%)">Viajes a lo desconocido</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 95%)">
         ¿No tienes cuenta?, a que esperas, <span [routerLink]="[ '/registro'] " class="spanreg" > haz click aquí</span> para crear tu portal hacia una nueva forma de viajar
        
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

   
@if (iniciodiv == false) {
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">

            <p style="text-align: center;margin-bottom: 3vh;color:red" id="mensajeDiv"></p>
            <h1 style="text-align: center;margin-bottom: 3vh;"  >Iniciar Sesion</h1>
            <form [formGroup]="formulario">
              
              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" >Correo Electrónico</label>
                <input type="email" id="email" formControlName = "email" class="form-control" />
             
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" >Password</label>
                <input type="password" id="password" formControlName = "password" class="form-control" />
           
              </div>
              <div class="form-check d-flex justify-content-center mb-4">
                <label class="form-check-label" for="form2Example33">
                 ¿Has olvidado la contraseña? Haz click <span  class="spanreg" [routerLink]="[ '/reset_password']">aqui</span>
                </label>
              </div>

            
              <button (click)="buscarInicio()" [disabled]="formulario.invalid" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                Iniciar sesión
              </button>

        
           
            </form>
          </div>
        </div>
      }@else if (iniciodiv == true) {

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
          
            
            <h1 class="h1des">Sesion Iniciada!</h1>
            <p class="text-muted">Redirigiendo al inico</p>
        
           
        
          </div>
        </div>
       
      }
      </div>
      
    </div>
    
  </div>
 
</section>
<app-footer></app-footer>