html, body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    
  }
  
  .StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: box-shadow 150ms ease;
  
    font-size: 16px;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .payment-summary {
    background-color: #f8f9fa; /* Color de fondo */
    border: 1px solid #dee2e6; /* Borde */
    transition: all 0.3s ease; /* Transición suave */
}

.payment-summary:hover {
    transform: scale(1.02); /* Escalado al pasar el cursor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra al pasar el cursor */
}

.text-primary {
    color: #007bff; /* Color del texto primario */
}

.text-danger {
    color: #dc3545; /* Color del texto de peligro */
}

.text-success {
    color: #28a745; /* Color del texto de éxito */
}

.text-warning {
    color: #ffc107; /* Color del texto de advertencia */
}

.bar {
  height: 1px; 
  background-color: #383838; 
  margin-bottom: 20px; 
}