<app-navbar></app-navbar>
<div class="body">
    <div class="row row-centered">
        <div class="divListar col-12 col-xl-8">
            <div class="texto">
                @if (viajeoperfil == false) {
                    <form [formGroup]="formulario">
                <div class="cliente-container">
                    <input type="number" placeholder="id" readonly>
                    <input type="text" placeholder="DNI" formControlName = "dni">
                    <input type="text" placeholder="nombre" formControlName = "nombre">
                    <input type="text" placeholder="email" formControlName = "email">
                    <input type="text" placeholder="direccion" formControlName = "direccion">
                    <input type="text" placeholder="ciudad" formControlName = "ciudad">
                    <input type="text" placeholder="comunidad" formControlName = "comunidad">
                    <input type="number" placeholder="codigoPostal" formControlName = "codigoPostal">
                    <input type="text" placeholder="role" formControlName = "role">
                    <input type="text" placeholder="password" formControlName = "password">
            
                    <input type="text" id="imagenUrl" placeholder="urlImagen" formControlName = "urlImagen">
                    <button class="btn btn-dark" [disabled]="formulario.invalid" (click)="actualizar()">Actualizar</button>
                    <button class="btn btn-dark" [disabled]="formulario.invalid" (click)="actualizarContra()">actualizar Contraseña</button>
                    
                </div>
                <button (click)="mostrarViajes()" class="btn btn-dark">Mostrar Viajes</button>
            </form>
                }@else if(viajeoperfil == true){


                @if(viajeMostrar.length == 0){
                <h1>No tiene viajes planeados</h1>
                }
                @for (item of viajeMostrar; track $index) {


                <div class="cliente-container">
                    <input type="number" placeholder="{{item.id}}" readonly>
                    <input type="number" placeholder="{{item.precio}}" readonly>
                    <input type="text" placeholder="{{item.tipocalidad}}" readonly>
                    <input type="text" placeholder="{{item.fecha_inicio}}" readonly>
                    <input type="text" placeholder="{{item.fecha_fin}}" readonly>
                    
                    <input type="text" placeholder="{{item.actividad1}}" readonly>
                    <input type="text" placeholder="{{item.actividad2}}" readonly>
                    <input type="text" placeholder="{{item.actividad3}}" readonly>
                    <input type="text" placeholder="{{arrayCiudades[$index]}}" readonly>

                    <button class="btn btn-dark" >Mostrar Invitados</button>
                    <button class="btn btn-danger" (click)="eliminarViajes(item.id)">eliminiar</button>
               

                </div>



                }
                }
            </div>
        </div>
        <div class="divInformacion col-12 col-xl-4">

            <div class="texto2">
                <form [formGroup]="buscar">
                    <div class="form-group">
                        <input id="search" formControlName="search" class="form-control" placeholder="Introduce el DNI">
                    </div>
                </form>
            </div>
            @for (item of clientes; track $index) {
            <div class="divDentro">
                <p>{{item.nombre}} - DNI: {{item.dni}} - EMAIL: {{item.email}}</p>
                <button (click)="correoMostrar = item.email;mostrarPerfil()" class="btn btn-light">Mostrar Viajes e
                    Informacion</button>

            </div>

            }
        </div>

    </div>
</div>
<app-footer></app-footer>