
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            @if (redirigir === false) {
            <div style="background-image:url(../../assets/imagenregistro.jpg);" class="col-xl-6">
    
            </div>
            
            <div class="col-xl-6">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registro</h3>
              <div class="container mt-5">
                  <form [formGroup]="registerForm" >
                    <div class="form-group">
                      <label for="dni">DNI</label>
                      <input id="dni" formControlName="dni" type="text" class="form-control">
                      @if (registerForm.get('dni')?.invalid && (registerForm.get('dni')?.dirty || registerForm.get('dni')?.touched)) {
                          <div  class="text-danger">
                              @if (registerForm.get('dni')?.errors?.['required']) {
                              <div>DNI es obligatorio.</div>
                              }
                          </div>
                      }
                    </div>
                    <div class="form-group">
                      <label for="nombre">Nombre</label>
                      <input id="nombre" formControlName="nombre" type="text" class="form-control">
                      @if (registerForm.get('nombre')?.invalid && (registerForm.get('nombre')?.dirty || registerForm.get('nombre')?.touched)) {
                          <div  class="text-danger">
                              @if (registerForm.get('nombre')?.errors?.['required']) {
                              <div>Nombre es obligatorio.</div>
                              }
                          </div>
                      }
                    </div>
                
                    <div class="form-group">
                      <label for="apellidos">Apellidos</label>
                      <input id="apellidos" formControlName="apellidos" type="text" class="form-control">
                      @if (registerForm.get('apellidos')?.invalid && (registerForm.get('apellidos')?.dirty || registerForm.get('apellidos')?.touched)) {
                          <div  class="text-danger">
                              @if (registerForm.get('apellidos')?.errors?.['required']) {
                              <div>Apellidos son obligatorios.</div>
                              }
                          </div>
                      }
                    </div>
                
                    <div class="form-group">
                      <label for="direccion">Dirección</label>
                      <input id="direccion" formControlName="direccion" type="text" class="form-control">
                      @if (registerForm.get('direccion')?.invalid && (registerForm.get('direccion')?.dirty || registerForm.get('direccion')?.touched)) {
                        <div  class="text-danger">
                            @if (registerForm.get('direccion')?.errors?.['required']) {
                            <div>Dirección es obligatoria.</div>
                            }
                        </div>
                    }
                    </div>
                
                    <div class="form-group">
                      <label for="ciudad">Ciudad</label>
                      <input id="ciudad" formControlName="ciudad" type="text" class="form-control">
                      @if (registerForm.get('ciudad')?.invalid && (registerForm.get('ciudad')?.dirty || registerForm.get('ciudad')?.touched)) {
                        <div  class="text-danger">
                            @if (registerForm.get('ciudad')?.errors?.['required']) {
                            <div>Ciudad es obligatoria.</div>
                            }
                        </div>
                    }
                    </div>
                
                    <div class="form-group">
                      <label for="comunidad">Comunidad</label>
                      <input id="comunidad" formControlName="comunidad" type="text" class="form-control">
                      @if (registerForm.get('comunidad')?.invalid && (registerForm.get('comunidad')?.dirty || registerForm.get('comunidad')?.touched)) {
                        <div  class="text-danger">
                            @if (registerForm.get('comunidad')?.errors?.['required']) {
                            <div>Comunidad es obligatoria.</div>
                            }
                        </div>
                    }
                    </div>
                
                    <div class="form-group">
                      <label for="codigoPostal">Código Postal</label>
                      <input id="codigoPostal" formControlName="codigoPostal" type="text" class="form-control">
                      @if (registerForm.get('codigoPostal')?.invalid && (registerForm.get('codigoPostal')?.dirty || registerForm.get('codigoPostal')?.touched)) {
                        <div  class="text-danger">
                            @if (registerForm.get('codigoPostal')?.errors?.['required']) {
                            <div>Comunidad es obligatoria.</div>
                            }
                            @if (registerForm.get('codigoPostal')?.errors?.['pattern']) {
                              <div>Código Postal debe ser de 5 dígitos.</div>
                            }
                        </div>
                    }
                    </div>
                
                    <div class="form-group">
                      <label for="fechaNacimiento">Fecha de Nacimiento</label>
                      <input id="fechaNacimiento" formControlName="fechaNacimiento" type="date" class="form-control">
                      @if (registerForm.get('fechaNacimiento')?.invalid && (registerForm.get('fechaNacimiento')?.dirty || registerForm.get('fechaNacimiento')?.touched)) {
                        <div  class="text-danger">
                            @if (registerForm.get('fechaNacimiento')?.errors?.['required']) {
                            <div>Fecha de Nacimiento es obligatoria.</div>
                            }
                        </div>
                      }

                      @if (registerForm.errors?.['menorDe18']) {
                        <div  class="text-danger">
                          <div>Debes ser mayor de edad</div>
                        </div>
                      }
                    </div>
                
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input id="email" formControlName="email" type="email" class="form-control">
                      @if (registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)) {
                        <div  class="text-danger">
                            @if (registerForm.get('email')?.errors?.['required']) {
                            <div>Email es obligatorio.</div>
                            }
                         
                        </div>
                      }

                      @if(registerForm.get('email')?.errors?.['emailExists']){
                        <div class="text-danger">El usuario ya esta registrado</div>
                      }
                    </div>

                        
                    <div class="form-group">
                      <label for="urlImagen">Imagen de perfil (Link <span (click)="redirectcion()" class="link">pixabay.com</span>)</label>
                      <input id="urlImagen" formControlName="urlImagen"  class="form-control">
                       
                      @if(registerForm.get('urlImagen')?.errors?.['invalidUrl']){
                        <div class="text-danger">
                          asegurate de que sea de pixibay
                        </div>

                      }

        
                    </div>
                
                    <div class="form-group">
                      <label for="password">Contraseña - Más de 8 Dígitos</label>
                      <input id="password" formControlName="password" type="password" class="form-control">
                      @if (registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)) {
                        <div  class="text-danger">
                            @if (registerForm.get('password')?.errors?.['required']) {
                            <div>Contraseña es obligatoria.</div>
                            }
                            @if (registerForm.get('password')?.errors?.['minlenght']) {
                              <div>Contraseña debe tener al menos 6 caracteres.</div>
                            }
                        </div>
                    }
                    </div>
                
                    <div class="form-group">
                      <label for="confirmPassword">Repetir Contraseña</label>
                      <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control">
                      @if (registerForm.errors?.['mismatch'] && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)) {
                        <div  class="text-danger">
                          <div>Las contraseñas no coinciden.</div>
                        </div>
                    }
                    </div>
                
                    <button type="button"  (click)="redirect(); onSubmit()" style="position:relative;top: 1vw;" [disabled]="registerForm.invalid" class="btn btn-primary" >Registrarse</button>
                  </form>
                </div>
                </div>
                </div>
              }@else{
                <div  style="text-align: center;height: 30vw;padding: 10vw;">
                <h2 style="color:hsl(218, 100%, 50%);">Registrado satisfactoriamente</h2>
                <h3>Se le redirigirá al  inicio de sesión para que pueda acceder a todas las funcionalidades de la página </h3>
                 <p><span class="muted">Si no se redirige automaticamente haga click </span> <span class="link" [routerLink]="[ '/inicio_sesion']">aqui</span></p>
              </div>
              }
                </div>
                </div>
                </div>
                </div>
                </div>
                </section>
                <app-footer></app-footer>