<app-navbar></app-navbar>
    
<div class="container mt-5">
    <form [formGroup]="formulario">
        <div class="row estrellas d-flex justify-content-center">
            <div class="col-md-3 d-flex flex-column align-items-center">
                <label for="ratings">Numero de estrellas</label>
                <select class="form-control" formControlName="ratings" name="ratings" id="ratings">
                    <option value="1">⭐</option>
                    <option value="3">⭐⭐⭐</option>
                    <option value="5">⭐⭐⭐⭐⭐</option>
                </select>
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center">
                <label for="fechaSalida">Fecha Salida</label>
                <input class="form-control" type="date" id="fechaSalida" formControlName="fechaSalida">
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center">
                <label for="fechaLlegada">Fecha Llegada</label>
                <input class="form-control" type="date" id="fechaLlegada" formControlName="fechaLlegada">
            </div>
            <div class="col-md-3 d-flex flex-column align-items-center justify-content-end">
                <button class="btn btn-dark mt-4" (click)="mirar()">Buscar</button>
            </div>
        </div>
    </form>
</div>

<app-formulario-invitados (childemiter)="childreciever($event)"></app-formulario-invitados>
<app-footer></app-footer>