
    <form [formGroup] = "formulario" class=" flex-column d-flex align-items-center justify-content-center ">
    <div >
        <div class="card" >
            <div class="top-div"> 
               
                <h2>Anftitrion</h2>

            </div>
            <div class="details">
                <div class="input-text">
                    <input formControlName ="nombre" type="text" required="required">
                    <span>Nombre y apellidos</span>
                </div>
                <div class="input-text">
                    <input formControlName ="dni" type="text" required="required">
                    <span>DNI / NIE</span>
                </div>
                <div class="input-text">
                    <input formControlName ="comunidad" type="text" required="required">
                    <span>Comunidad</span>
                </div>
                <div class="input-text">
                    <input  formControlName ="ciudad" type="Text" required="required">
                    <span>Ciudad</span>
                </div>
                <div class="input-text">
                    <input formControlName ="direccion" type="text" required="required">
                    <span>direccion</span>
                </div>
                <div class="input-text">
                    <input  formControlName ="codigo_postal" type="text" required="required">
                    <span>Codigo Postal</span>
                </div>
               
                
                <div class = "m-1 " style = " text-align: center;">
                    <button   type="button" class="botondentro btn btn-dark">Actualizar Datos</button>
                </div>
            </div>

        </div>
    </div>
</form>