<app-navbar></app-navbar>
<div class="container-fluid" style="padding:2.5vw ;">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-12">
            <div class="divtdoo" >
                <h1 >Sobre nosotros</h1>
                <p class="text-muted">A Softtek company</p>
                <p >
                    En Viajes a lo desconocido nos apasionan los viajes y creemos que la mejor manera de descubrir el mundo es dejando que la aventura te guíe.

                    Por eso, hemos creado una web que te permite generar viajes aleatorios personalizados a tus necesidades y preferencias.
                    
                    ¿Cómo funciona?
                    
                    Es muy sencillo:
                    
        
                    
                    Viajes únicos y personalizados: No te ofrecemos paquetes turísticos predefinidos, sino viajes creados a medida para ti.
                    Sorpresa y emoción: Disfruta de la emoción de no saber a dónde vas hasta el último momento.
                    Ahorra tiempo y dinero: Deja que nosotros nos encarguemos de la planificación y tú solo preocúpate de disfrutar.
                    Descubre nuevos destinos: Sal de tu zona de confort y explora lugares que nunca antes habías imaginado.
                    ¿A qué esperas?
                    
                    Reserva tu viaje aleatorio hoy mismo y prepárate para vivir una experiencia única e inolvidable.
                    
                    ¡Viaja sin rumbo, vive con pasión!
                
                
                </p>
            </div>
            
        </div>
        <div class="col-12 col-lg-6 col-md-12">
            <img src="../../assets/sobrenosotros.png " class="mx-auto d-block" alt="Sobre Nosotros">
        </div>
    </div>
</div>
<app-footer></app-footer>
