<nav class="navbar navbar-expand-lg navbar-light bg-white">

  <div class="nav-item center-content">
    <a class="navbar-brand imagennavbar text-center" [routerLink]="['/inicio']">
      <img src="../../assets/logo-sinfondo.png" width="80" height="80" alt="">
      <p>Viajes a lo desconocido</p>
    </a>
  </div>
  
  
     
      <h5  class="d-md-none" style="cursor: pointer !important;padding-right: 40px;" (click)="toggleCollapse1()">
        <i class="nav-item me-auto bi bi-list"></i>
      </h5>

     
      @if (isCollapsed1) {
      <div [ngClass]="{'collapse': isCollapsed1, 'show': !isCollapsed1}" class="d-md-block nav-item contenido me-auto">


        <button type="button" class="btn btncambiar" routerLink="#">Inicio</button>
        <button type="button" class="btn btncambiar" routerLink="#">Viajes</button>
      </div>
      <div [ngClass]="{'collapse': isCollapsed1, 'show': !isCollapsed1}" class="d-md-block nav-item  ">
        <button type="button" class="btn btncambiar btncambiar2" routerLink="#">Usuario <i class="bi bi-person"  ></i></button>
      </div>
      
    }@else{
      
      <div class="d-md-block nav-item contenido mx-auto row">


        <button type="button" class="btn btncambiar" routerLink="#">Inicio</button>
        <button type="button" class="btn btncambiar" routerLink="#">Viajes</button>
        <button type="button" class="btn btncambiar btncambiar2" routerLink="#">Usuario<i class="bi bi-person"  ></i></button>
      </div>
      
    }
     
  </nav>
