.btncambiar{
  border:none;
  background-color: transparent;

 
}









button + button{
  margin-left: 15px;
}



.btncambiar:hover{
  color: #cfb1ff;

  

}

.imagennavbar p{

 font-size: 16px;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
 height: 10px;
 font-weight: 600;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left:10px;
  }
  
  .center-content img {
    margin-bottom: 0.5rem; /* Añade espacio entre la imagen y el texto si es necesario */
  }
  





i{
    font-size: 23px;
    align-items: center;
    margin: 15px;
    
}

@media (max-width: 768px) {
  button + button{
    margin-left: 0px;
  }

  .contenido{

    
    width: 70%; /* Ancho del 80% de la contenedora, ajustable */
    text-align: center;
   /* Borde para visualización */
  }

  i{
    font-size: 23px;
    align-items: center;
    margin: 4px;
    
}
}