

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand imagennavbar text-center" href="#">
        <img src="../../assets/logo-sinfondo.png" width="80" height="80" alt="">
        <p>Viajes a lo desconocido</p>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid botonoes">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex">
          <button class="btn btn-white btn-lg mr-3">Inicio</button>
          <button class="btn btn-white btn-lg">Viajes</button>
        </div>
      </div>
      
    
      <div>
      <span class="navbar-text ml-auto">Usuario</span>
    </div>
    <i class="bi bi-person"  ></i>
  </div>
   
    
    
  
  </nav>
